@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: #fff;
}

body.dark {background-color: #292c35;} /* #9b59b6 */
body.dark h1,body.dark h2,body.dark p,body.dark pre, body.dark .support a {color: #fff;}



.checkbox {
    opacity: 0;
    position: absolute;
  }




.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.bxs-moon {color: #f1c40f;}

.bxs-sun {color: #f39c12;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 2.5px;
    top: 2.5px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }











.header{
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

























/* Resume Section */











.header-resume{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}



.picture img{
    width: 100%; /* Ensure responsive image size */
    max-width: 200px; /* Set maximum width to keep the image within bounds */
}
.container-resume {
    background-color: rgb(57, 170, 170);
    padding: 100px 50px;
    margin: 0px 15rem 100px 15rem;
    transition: background 0.3s ease-in-out;
}
body.dark .container-resume {
    background-color: #1e1e1e; /* Dark mode color */
}